@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  --color-text: #221f20;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* Container */
.container {
  width: 1350px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1199.98px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 991.98px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 767.98px) {
  .container {
    width: 540px;
  }
}

@media (max-width: 575.98px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }
}

/* End Container */

/* Header */
.header {
  padding: 18px 0;
  background-color: #fff;
  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.header .inner-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .inner-menu>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 16px;
}

.header .inner-menu>ul>li>a {
  color: var(--color-text);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.header .inner-menu>ul>li>a:hover {
  color: #ac2f33;
}

.header .inner-menu>ul>li>a.active {
  color: #ff0000;
}

.header .inner-menu>ul>li {
  position: relative;
}

.header .inner-menu>ul>li>ul {
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  width: 240px;
  margin: 0;
  padding: 14px 10px;
  list-style: none;
  border: 1px solid #e7e8e9;
  border-radius: 4px;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.header .inner-menu>ul>li:hover>ul {
  opacity: 1;
  visibility: visible;
  animation: fade_in_show 0.5s;
  animation-duration: 0.5s;
}

.header .inner-menu>ul>li>ul a {
  font-size: 14px;
  color: #57585a;
  display: block;
  margin-bottom: 16px;
}

.header .inner-menu>ul>li>ul a:hover {
  opacity: 0.8;
}

.header .inner-menu>ul>li>ul li:last-child a {
  margin-bottom: 0;
}

.header .inner-menu>ul>li>ul .sub-title-menu a {
  color: #ff0000;
  font-weight: 600;
  font-size: 14px;
}

.header .inner-logo img {
  width: 140px;
  height: auto;
}

.header .inner-right-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .inner-right-header form {
  border: 1px solid #e7e8e9;
  padding: 6px;
  border-radius: 4px;
}

.header .inner-right-header form button {
  border: none;
  background-color: #fff;
  padding: 0 4px;
}

.header .inner-right-header form input {
  border: none;
  outline: none;
}

.header .inner-right-header form input::placeholder {
  font-size: 12px;
  color: #a1a3a1;
}

.header .inner-actions {
  display: inline-flex;
  gap: 16px;
  margin-right: 20px;
}

.header .inner-actions a {
  color: var(--color-text);
}

.header .inner-actions .inner-cart {
  position: relative;
}

.header .inner-actions .inner-cart span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  font-size: 12px;
  border-radius: 50%;
  background-color: var(--color-text);
  color: #fff;
  position: absolute;
  right: -20px;
  top: -4px;
}

.header .inner-menu-mobile {
  border: none;
  background-color: #fff;
  padding: 0;
  display: none;
}

.header .inner-menu-mobile i {
  font-size: 24px;
  color: #6C6D70;
}

/* Menu Mobile */
#menu-mobile .button-close-menu {
  padding: 0;
  border: 0;
  background-color: #fff;
}

#menu-mobile .button-close-menu i {
  color: var(--color-text);
  font-size: 24px;
}

#menu-mobile {
  border: none;
  width: 100%;
}

#menu-mobile .offcanvas-body {
  padding-top: 0;
}

#menu-mobile .menu-mobile-button a {
  background: var(--color-text);
  border: 1px solid var(--color-text);
  border-radius: 16px 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #f7f8f9;
  padding: 12px 0;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

#menu-mobile .menu-mobile-button a:hover {
  background: #fff;
  border-color: var(--color-text);
  color: var(--color-text);
}

#menu-mobile .menu-mobile-content>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu-mobile .menu-mobile-content>ul>li>a {
  color: var(--color-text);
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
  font-size: 16px;
  font-weight: 700;
}

#menu-mobile .menu-mobile-content ul li a i {
  font-size: 16px;
}

#menu-mobile .menu-mobile-content ul li a.active {
  color: #FF0000;
}

#menu-mobile .menu-mobile-content ul li a:hover span,
#sub-menu-mobile1 a:hover,
#sub-menu-mobile2 a:hover {
  color: #B42F33;
}

#sub-menu-mobile1,
#sub-menu-mobile2 {
  padding: 0 20px;
  list-style: none;
  margin: 0;
}

#sub-menu-mobile1 a,
#sub-menu-mobile2 a {
  font-size: 14px;
  font-weight: normal;
  color: #373737;
  display: block;
  margin-bottom: 20px;
}

/* End Menu Mobile */

/* Headphone */
.header .inner-headphone {
  position: relative;
}

#collapseHeadphone {
  position: absolute;
  top: 40px;
  right: 0;
  width: 250px;
}

#collapseHeadphone .card {
  border: 1px solid #E7E8E9;
  padding: 20px;
}

#collapseHeadphone .inner-head {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #F7F8F9;
}

#collapseHeadphone ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#collapseHeadphone ul a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #808285;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.3s ease-out;
}

#collapseHeadphone ul a:hover {
  color: var(--color-text);
}

/* End Headphone */

/* Cart Mobible */
#cart-mobile {
  width: 360px;
}

#cart-mobile .offcanvas-header {
  padding: 20px 24px;
  border-bottom: 1px solid #E7E8E9;
}

#cart-mobile .offcanvas-header button {
  background-color: #fff;
  color: var(--color-text);
  border: none;
  padding: 0;
}

#cart-mobile .offcanvas-header button i {
  font-size: 24px;
}

#cart-mobile-title {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 20px;
  color: var(--color-text);
}

#cart-mobile-title .cart-mobile-quantity {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--color-text);
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
}

#cart-mobile .offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#cart-mobile .offcanvas-body .cart-mobile-total {
  text-align: right;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  color: #525459;
}

#cart-mobile .offcanvas-body .cart-mobile-total b {
  font-weight: 600;
  font-size: 18px;
  margin-left: 4px;
}

#cart-mobile .offcanvas-body .cart-mobile-button {
  border: 1px solid #4B4E51;
  display: flex;
  width: 100%;
  height: 53px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #4B4E51;
  transition: all 0.3s ease-in-out;
}

#cart-mobile .offcanvas-body .cart-mobile-button:hover {
  background-color: var(--color-text);
  border-color: var(--color-text);
  color: #fff;
}

@media (max-width: 767.98px) {
  #cart-mobile .offcanvas-body .inner-content {
    margin-bottom: 60px;
  }
}

/* End Cart Mobible */

@keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1199.98px) {
  .header .inner-menu>ul {
    gap: 12px;
  }

  .header .inner-menu>ul>li>a {
    font-size: 11px;
  }

  .header .inner-menu>ul>li>ul a,
  .header .inner-menu>ul>li>ul .sub-title-menu a {
    font-size: 12px;
  }

  .header .inner-right-header form input {
    max-width: 150px;
  }
}

@media (max-width: 991.98px) {
  .header .inner-menu {
    display: none;
  }

  .header .inner-menu-mobile {
    display: block;
  }

  .header .inner-right-header form {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .header {
    padding: 14px 0;
  }

  .header .inner-headphone,
  .header .inner-user {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .header {
    padding: 12px 0;
  }

  .header .inner-logo img {
    height: 37px;
    width: auto;
  }

  .header .inner-menu-mobile i {
    font-size: 22px;
  }
}

/* End Header */

/* Section 1 */
.section-1 {
  padding-bottom: 50px;
}

.section-1 .swiperSection1 {
  border-radius: 80px 0 80px 0;
  overflow: hidden;
}

.section-1 .inner-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 80px 0 80px 0;
}

.section-1 .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 1px solid #d1d2d4;
}

.section-1 .swiper-pagination-bullet-active {
  background-color: #fff;
}

@media (max-width: 991.98px) {

  .section-1 .swiper-button-prev,
  .section-1 .swiper-button-next,
  .section-1 .swiper-pagination {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .section-1 {
    display: none;
  }
}

/* End Section 1 */

/* Swiper custom */
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  font-size: 40px;
  color: #bcbdc0;
  transition: all 0.3s ease-in-out;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--color-text);
}

.swiper-button-next {
  margin-right: 16px;
}

.swiper-button-prev {
  margin-left: 16px;
}

.swiper-button-next-custom {
  margin-right: 24px;
  margin-top: -72px;
}

.swiper-button-prev-custom {
  margin-left: 24px;
  margin-top: -72px;
}

@media (max-width: 575.98px) {

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

/* End Swiper custom */

/* Box title */
.box-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 32px;
}

@media (max-width: 767.98px) {
  .box-title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 24px;
  }
}

@media (max-width: 575.98px) {
  .box-title {
    margin-bottom: 12px;
  }
}

/* End Box title */

/* End Section 2 */
.section-2 {
  padding-bottom: 60px;
}

.section-2 .inner-button {
  text-align: center;
  margin-top: 24px;
}

.section-2 .button-outline {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 24px 0 24px 0;
  border: 1px solid var(--color-text);
  font-size: 16px;
  color: var(--color-text);
  transition: all 0.3s ease-out;
}

.section-2 .button-outline:hover {
  background-color: var(--color-text);
  color: #fff;
}

@media (max-width: 767.98px) {
  .section-2 {
    padding-bottom: 32px;
  }
}

@media (max-width: 575.98px) {
  .section-2 {
    padding-bottom: 20px;
  }

  .section-2 .button-outline {
    padding: 10px 16px;
    font-size: 14px;
    border-radius: 12px 0 12px 0;
  }
}

/* End Section 2 */

/* Product Item */
.product-item {
  position: relative;
  overflow: hidden;
}

.product-item .inner-tag {
  position: absolute;
  top: 0;
  left: -3px;
  background-image: url("../images/bg-seller.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 7px 18px 5px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  border-bottom-right-radius: 24px;
}

.product-item .inner-tag.tag-uppercase {
  text-transform: uppercase;
}

.product-item .inner-image {
  aspect-ratio: 246/369;
}

.product-item .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-item .inner-content {
  padding-top: 20px;
}

.product-item .inner-content .inner-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.product-item .inner-meta .inner-color {
  display: inline-flex;
  gap: 14px;
}

.product-item .inner-meta .inner-box {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #5b5240;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.product-item .inner-meta .inner-box i {
  font-size: 12px;
  margin-top: 2px;
}

.product-item .inner-meta .inner-box:first-child {
  background-color: #ebe5d9;
}

.product-item .inner-meta .inner-favorite {
  cursor: pointer;
}

.favorite-active {
  color: #f43f5e;
}

.product-item .inner-content .inner-title {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 34px;
}

.product-item .inner-content .inner-title a {
  color: #57585a;
}

.product-item .inner-content .inner-title a:hover {
  color: #b23e42;
}

.product-item .inner-content .price-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-item .inner-content .inner-price {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.product-item .inner-content .inner-price .inner-price-new {
  font-size: 16px;
  font-weight: 600;
  color: #3e3e3f;
}

.product-item .inner-content .inner-price .inner-price-old {
  font-size: 12px;
  font-weight: 600;
  color: #a8a9ad;
  text-decoration: line-through;
}

.product-item .inner-content .inner-bag ul {
  min-width: 0;
  border-radius: 0;
  width: 130px;
  border: 1px solid #E7E8E9;
}

.product-item .inner-content .inner-bag ul a {
  text-align: center;
  display: block;
  padding: 10px 0;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-text);
}

.product-item .inner-content .inner-bag>a {
  background-color: var(--color-text);
  border: 1px solid var(--color-text);
  width: 32px;
  height: 32px;
  border-radius: 8px 0 8px 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  outline: none;
}

.product-item .inner-content .inner-bag i {
  font-size: 14px;
  color: #fff;
}

.product-item .inner-content .inner-bag a:hover {
  background-color: #fff;
}

.product-item .inner-content .inner-bag a:hover i {
  color: var(--color-text);
}

.product-item .hover-img {
  display: none;
}

.product-item .inner-image:hover img {
  display: none;
}

.product-item .inner-image:hover .hover-img {
  display: block;
}

.product-item .inner-discount {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  background-color: #dc633a;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 50% 50% 0 50%;
}

.product-item .inner-discount span {
  font-size: 8px;
}

@media (max-width: 767.98px) {
  .product-item .inner-content .inner-bag ul {
    width: 70px;
  }
}

@media (max-width: 575.98px) {
  .product-item .inner-tag {
    padding: 5px 12px 5px 8px;
    font-size: 11px;
  }

  .product-item .inner-content .inner-title {
    font-size: 12px;
    margin-bottom: 4px;
  }

  .product-item .inner-content .inner-price {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .product-item .inner-content .inner-price .inner-price-new {
    font-size: 14px;
  }

  .product-item .inner-content .inner-bag > a {
    width: 24px;
    height: 24px;
  }

  .product-item .inner-content .inner-bag i {
    font-size: 10px;
  }
}

/* End Product Item */

/* Section 3 */
.section-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-3 {
  padding-bottom: 40px;
}

.section-3 .inner-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 30px;
}

.section-3 .inner-wrap .inner-item {
  border-radius: 30px 0 30px 0;
  overflow: hidden;
}

@media (max-width: 991.98px) {
  .section-3 .inner-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575.98px) {
  .section-3 .inner-wrap {
    gap: 8px;
  }
}

/* Footer */
.footer {
  background-color: #ECECEC;
  padding: 60px 0 24px;
  border-radius: 40px 40px 0 0;
}

.footer .inner-top {
  display: flex;
  align-items: center;
  background-color: var(--color-text);
  padding: 32px;
  border-radius: 16px;
  gap: 24px;
  margin-bottom: 40px;
}

.footer .inner-top .title-form {
  width: 389px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
}

.footer .inner-top .inner-form {
  flex: 1;
  background-color: #fff;
  padding: 12px 16px;
  border-radius: 14px;
  display: flex;
  align-items: center;
}


.footer .inner-top .inner-form input {
  height: 48px;
  border: 0;
  border-bottom: 1px solid #bcbdc0;
  font-weight: 500;
  font-size: 14px;
  outline: none;
  flex: 1;
}

.footer .inner-top .inner-form button {
  display: inline-block;
  padding: 12px 27px;
  border: 1px solid var(--color-text);
  border-radius: 24px 0px;
  font-size: 16px;
  background-color: #fff;
  color: var(--color-text);
  transition: all 0.3s ease-in-out;
  height: 48px;
  text-transform: capitalize;
}

.footer .inner-top .inner-form button:hover {
  background-color: var(--color-text);
  border-color: var(--color-text);
  color: #fff;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .inner-middle {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #CCD1D2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer .inner-middle .inner-links ul {
  display: flex;
  gap: 10px 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer .inner-middle .inner-links ul a {
  color: var(--color-text);
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
}

.footer .inner-middle .inner-links ul a:hover,
.footer .inner-middle .inner-socials ul i:hover,
.footer .inner-bottom .inner-links ul a:hover {
  color: #ac2f33;
  transition: all 0.3s ease-in-out;
}

.footer .inner-middle .inner-socials ul {
  display: flex;
  gap: 40px;
}

.footer .inner-middle .inner-socials ul i {
  font-size: 24px;
  color: var(--color-text);
}
.footer .inner-bottom {
  display: flex;
  align-items: center;
}

.footer .inner-bottom .inner-logo {
  width: 180px;
}

.footer .inner-bottom .inner-logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer .inner-bottom .inner-copyright {
  width: calc(50% - 90px);
  font-weight: 500;
  font-size: 16px;
}

.footer .inner-bottom .inner-links {
  width: calc(50% - 90px);
}

.footer .inner-bottom .inner-links ul {
  display: flex;
  justify-content: flex-end;
  gap: 10px 30px;
}

.footer .inner-bottom .inner-links ul a {
  color: var(--color-text);
  font-weight: 500;
  font-size: 16px;
}

@media (max-width: 991.98px) {
  .footer .inner-top {
    flex-wrap: wrap;
    gap: 20px;
  }

  .footer .inner-top .title-form {
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  .footer .inner-middle {
    gap: 20px;
    justify-content: center;
  }

  .footer .inner-bottom {
    flex-wrap: wrap;
    gap: 20px;
  }

  .footer .inner-bottom .inner-copyright,
  .footer .inner-bottom .inner-links {
    width: 100%;
  }

  .footer .inner-bottom .inner-logo {
    margin: 0 auto;
    order: 1;
  }

  .footer .inner-bottom .inner-links {
    order: 2;
  }

  .footer .inner-bottom .inner-links ul {
    justify-content: center;
  }

  .footer .inner-bottom .inner-copyright {
    order: 3;
    text-align: center;
  }
}

@media (max-width: 575.98px) {
  .footer {
    padding-top: 40px;
  }

  .footer .inner-top {
    padding: 20px;
    margin-bottom: 30px;
  }

  .footer .inner-top .inner-form {
    flex-wrap: wrap;
    gap: 12px;
  }

  .footer .inner-top .inner-form button {
    width: 100%;
  }

  .footer .inner-middle .inner-links ul {
    gap: 10px 25px;
  }

  .footer .inner-middle .inner-socials ul {
    gap: 25px;
  }

  .footer .inner-middle {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

/* End Footer */

/* Meta mobile */
.meta-mobile {
  display: none;
  padding: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

.meta-mobile .inner-wrap {
  display: flex;
  justify-content: space-around;
}

.meta-mobile .inner-wrap .inner-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meta-mobile .inner-wrap .inner-item i {
  font-size: 16px;
  color: var(--color-text);
}

.meta-mobile .inner-wrap .inner-item span {
  font-size: 10px;
}

.meta-mobile .inner-wrap .inner-item button {
  border: none;
  background-color: #fff;
}

@media (max-width: 767.98px) {
  .meta-mobile {
    display: flex;
  }
}

/* End Meta mobile */

/* Breadcumb */
.breadcumb {
  padding: 20px 0;
}

.breadcumb ul {
  list-style: none;
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.breadcumb ul a {
  color: #6c6d70;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.breadcumb ul a:hover {
  color: #ac2f33;
}

.breadcumb ul i {
  margin-left: 4px;
  font-size: 10px;
}
/* End Breadcumb */

/* Section 4 */
.section-4 {
  margin-top: 20px;
  margin-bottom: 40px;
}

.section-4 .inner-wrap {
  display: flex;
  gap: 30px;
}

.section-4 .list-product {
  flex: 1;
}

.section-4 .list-product .inner-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  flex-wrap: wrap;
  gap: 10px;
}

.section-4 .list-product .inner-head .inner-title {
  font-size: 24px;
  font-weight: 600;
}

.section-4 .accordion-button::after {
  flex-shrink: 0;
  width: 16px;;
  height: 16px;
  margin-left: auto;
  content: "";
  background-image: url("../images/icon-down.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  transition: transform 0.2s ease-in-out;
}

.section-4 .accordion-button:not(.collapsed)::after {
  background-image: url("../images/icon-down.svg");
  transform: rotate(-180deg);
}

.section-4 .accordion-item {
  position: relative;
  width: 240px;
  padding: 12px 20px;
  border-radius: 24px;
  border: 1px solid #E7E8E9;
}

.section-4 .accordion-collapse {
  position: absolute;
  top: 48px;
  right: -1px;
  width: 240px;
  z-index: 9999;
  background-color: #fff;
}

.section-4 .accordion-button {
  font-size: 14px;
  color: var(--color-text);
}

.section-4 .accordion-body {
  border: 1px solid #E7E8E9;
  padding: 16px;
  border-radius: 8px;
}

.section-4 .accordion-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section-4 .accordion-body ul a {
  color: var(--color-text);
  font-size: 14px;
}

.section-4 .accordion-body ul a:hover {
  font-weight: 600;
  color: #ac2f33;
}

.section-4 .wrap-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.section-4 .inner-button-filter {
  display: none;
  font-size: 20px;
  color: var(--color-text);
  cursor: pointer;
}

@media (max-width: 1299.98px) {
  .section-4 .wrap-item {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1199.98px) {
  .section-4 .wrap-item {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767.98px) {
  .section-4 .inner-button-filter {
    display: inline-block;
  }
}

/* End Section 4 */

/* Box filter */
.box-filter {
  width: 280px;
  box-shadow: 0px 1.75px 3.51px 0px #0000001F;
  padding: 20px;
  border-radius: 10px;
  position: sticky;
  top: 90px;
  left: 0;
  background-color: #fff;
  height: fit-content;
}

.box-filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}

.box-filter ul a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text);
  transition: all 0.3s ease-in-out;
}

.box-filter ul a:hover {
  color: #ac2f33;
}

.box-filter ul a i {
  font-size: 12px;
}

.box-filter .inner-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.box-filter .button-outline, 
.box-filter .button-main,
.box-filter .button-main:hover {
  display: inline-block;
  padding: 10px 24px;
  font-size: 13px;
  color: var(--color-text);
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid var(--color-text);
  border-radius: 16px 0;
  transition: all 0.3s ease-in-out;
}

.box-filter .button-main,
.box-filter .button-outline:hover {
  background-color: var(--color-text);
  color: #fff;
}

@media (max-width: 991.98px) {
  .box-filter {
    width: 240px;
  }

  .box-filter .button-outline, 
  .box-filter .button-main,
  .box-filter .button-main:hover {
    padding: 10px 16px;
  }
}

@media (max-width: 767.98px) {
  .box-filter {
    display: none;
  }
}

/* End Box filter */

/* Pagination */

.pagination ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.pagination ul a {
  display: inline-flex;
  min-width: 32px;
  height: 32px;
  border-radius: 8px 0;
  border: 1px solid #ddd;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  font-size: 10px;
}

.pagination ul a.active {
  background-color: var(--color-text);
  color: #fff;
}

.pagination ul li:last-child a {
  padding: 0 10px;
  font-size: 12px;
}

@media (max-width: 575.98px) {
  .pagination ul li:last-child a {
    display: none;
  }
}
/* End Pagination */

/* Section 5 - Cart Detail */
.cart-detail {
  padding: 40px 0;
}

.cart-detail .checkout-process-bar {
  border: 1px solid #ddd;
  padding: 30px 40px;
  border-radius: 20px 0 20px 0;
  position: relative;
}

.cart-detail .checkout-process-bar ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style: none;
}

.cart-detail .checkout-process-bar ul span {
  font-size: 12px;
  color: var(--color-text);
  font-weight: 500;
}

.cart-detail .checkout-process-bar .inner-line {
  background-color: #e7e8e9;
  height: 4px;
  width: 84%;
  position: absolute;
  top: 21.5px;
  left: 60px;
}

.cart-detail .checkout-process-bar li {
  position: relative;
}

.cart-detail .checkout-process-bar li .inner-dot {
  width: 14px;
  height: 14px;
  background-color:#fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
}

.cart-detail .checkout-process-bar li .inner-dot.active {
  background-color: var(--color-text);
  border-color: var(--color-text);
}

.cart-detail .inner-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-text);
  margin-top: 30px;
}

.cart-detail .inner-title span {
  color: #d73831;
  font-weight: 700;
}

.cart-detail .cart-table img {
  width: 150px;
  height: 215px;
}

.cart-detail .cart-table .width-table {
  max-width: 250px;
}

.cart-detail .cart-table div {
  font-size: 16px;
  font-weight: 500;
  color: #6c6d70;
}

.cart-detail .cart-table div.fontsize-14 {
  font-size: 14px;
  margin-top: 16px;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  align-items: center;
}

.cart-detail .cart-table .quantity {
  display: flex;
  position: relative;
  width: 144px;
}

.section-5-down,
.section-5-up {
  width: 48px;
  height: 48px;
  border: 1px solid #ddd;
  border-radius: 16px 0;
  background: #fff;
  color: var(--color-text);
  position: absolute;
  top: 0;
  z-index: 1;
  font-size: 24px;
}

.section-5-down {
  left: 0;
}

.section-5-up {
  right: 0;
}

.cart-detail .cart-table .quantity input {
  width: 100%;
  height: 48px;
  outline: none;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 16px;
  position: absolute;
  left: 0;
  padding: 0 47px;
}

.cart-detail input[type=number]::-webkit-inner-spin-button, 
.cart-detail input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.cart-detail .cart-table .total-price {
  font-size: 20px;
  font-weight: 700;
  color: #3e3e3f;
  line-height: 48px;
}

.cart-detail .cart-table i {
  font-size: 20px;
  line-height: 48px;
  color: #d73831;
  cursor: pointer;
}

.cart-summary {
  background-color: rgba(247, 248, 249, 0.9);
  border-radius: 10px;
  padding: 24px;
}

.cart-detail .inner-position {
  position: sticky;
  top: 100px;
  right: 0;
}

.cart-summary-title {
  font-size: 20px;
  color: var(--color-text);
  font-weight: 500;
  margin-bottom: 16px;
}

.cart-summary-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  color: #57585a;
}

.cart-summary-item span {
  color: var(--color-text);
  font-weight: 700;
}

.cart-summary-item p {
  margin-bottom: 0;
}

.cart-summary-note {
  display: flex;
  gap: 10px;
  color: #AC2F33;
}

.cart-summary-note p {
  font-size: 14px;
}


.cart-detail .inner-button {
  margin-top: 20px;
}

.cart-detail .button-outline {
  background-color: #fff;
  border: 1px solid var(--color-text);
  display: inline-flex;
  gap: 10px;
  height: 50px;
  width: 250px;
  border-radius: 16px 0;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  font-size: 16px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.cart-detail .button-outline:hover {
  background-color: var(--color-text);
  color: #fff;
}

.cart-detail .button-main {
  width: 100%;
  background-color: var(--color-text);
  color: #fff;
}

.cart-detail .button-main:hover {
  background-color: #fff;
  border-color: var(--color-text);
  color: var(--color-text);
}

@media (max-width: 1199.98px) {
  .cart-detail .inner-position {
    margin-top: 30px;
  }

  .cart-summary {
    max-width: 760px;
    margin: 0 auto;
  }

  .cart-detail .inner-button {
    text-align: center;
  }

  .cart-detail .button-main {
    width: 79%;
  }
}

@media (max-width: 991.98px) {
  .cart-detail .checkout-process-bar .inner-line {
    width: 80%;
  }

  .cart-table {
    overflow-x: auto;
  }

  .cart-table .table {
    min-width: 1040px;
  }

  .cart-table::-webkit-scrollbar {
    height: 5px;
  }

  .cart-table::-webkit-scrollbar-thumb {
    background-color: #ddd;
  }
}

@media (max-width: 767.98px) {
  .cart-detail .checkout-process-bar .inner-line {
    width: 77%;
  }

  .cart-detail .checkout-process-bar {
    padding: 30px 20px;
  }
}

@media (max-width: 575.98px) {
  .cart-detail .checkout-process-bar {
    padding: 30px 10px 10px;
  }

  .cart-detail .checkout-process-bar .inner-line {
    left: 34px;
  }

  .cart-detail .inner-title {
    font-size: 20px;
  }

  .cart-detail .cart-table img {
    width: 72px;
    height: 100px;
  }

  .cart-detail .cart-table div {
    font-size: 14px;
  }

  .cart-detail .cart-table div.fontsize-14 {
    font-size: 12px;
  }

  .section-5-down, .section-5-up {
    width: 32px;
    height: 32px;
    border-radius: 8px 0;
    font-size: 18px;
  }

  .section-5-up {
    right: 48px;
  }

  .cart-detail .cart-table .quantity input {
    height: 32px;
    padding: 0 32px;
    width: 65%;
  }

  .cart-detail .cart-table .total-price {
    line-height: 20px;
    font-size: 14px;
  }

  .cart-detail .cart-table i {
    line-height: 20px;
  }

  .cart-summary {
    width: 100%;
  }

  .cart-detail .button-main {
    width: 100%;
  }
}

/* End Section 5 - Cart Detail */